@import "../bower_components/bootstrap/less/bootstrap.less";

.header {
  height: 420px;
  padding-top: 50px;

  background: linear-gradient(to right, #4CA4FF, #007F60);
  // box-shadow: 0 0 5px rgb(118, 118, 118);

  .fly {
    width: 350px;
    height: 320px;
    margin: 0 auto;
    background-image: url(/broccolifly.png);
    background-size: 100%;
  }
}

.navbar {
  ul.nav {
    li {
      background-color: rgba(67, 67, 67, 0.6);
    }
    li a {
      font-size: 16px;
      color: rgb(187, 195, 209);

      @media (max-width: @screen-sm) {
        height: 32px;
        padding-bottom: 4px;
        font-size: 20px;
        text-align: center;
      }
    }
    li a:hover {
      background-color: rgba(40, 40, 40, 0.68);
    }
  }
}

.introduction {
  .heading {
    min-height: 100px;
    margin-bottom: 40px;
    overflow: hidden;
    background-color: rgb(98, 170, 79);
    //box-shadow: inset 0 -1px 3px 0px rgb(75, 75, 75);
  }
  h1 {
    margin-bottom: 10px;

    font-size: 4em;
    text-align: center;
    //text-shadow: 0 0 2px rgb(168, 168, 168)
  }

  h2 {
    margin-top: 20px;
    margin-bottom: 32px;

    font-size: 2.2em;
  }

  p {
    font-size: 1.6em;
  }

  background: linear-gradient(to bottom, rgb(246, 246, 246), rgb(255, 255, 255));
}

.container {
  padding-bottom: 80px;
}
