@import "../bower_components/bootstrap/less/bootstrap.less";

.header {
  height: 420px;
  padding-top: 50px;
  
  background: linear-gradient(to right, #4CA4FF, #007F60);
  // box-shadow: 0 0 5px rgb(118, 118, 118);
  
  .fly {
    width: 350px;
    height: 320px;
    margin: 0 auto;
    background-image: url(/broccolifly.png);
    background-size: 100%;
  }
}

section {
  h1 {
    margin-bottom: 60px;
    
    font-size: 4em;
    text-align: center;
    text-shadow: 0 0 2px rgb(168, 168, 168);
  }
  
  h2 {
    margin-bottom: 32px;
    
    font-size: 2.2em;
  }
  
  p {
    font-size: 1.6em;
  }
  
  background: linear-gradient(to bottom, rgb(246, 246, 246), rgb(255, 255, 255));
}

.container {
  padding-bottom: 80px;
}